html {
    font-size: 14px;
}

body {
    width: 320px;
    padding: 16px;
    margin: 0;
}

#status {
    color: var(--primary-color);
    font-weight: bold;
    height: 20px;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
}

#save {
    height: 35px;
}

#history {
    height: 35px;
    margin: 32px auto 16px auto;
    width: 75%;
}
