html {
    font-size: 14px;
}

body {
    width: 300px;
    padding: 16px;
    margin: 0;
}

select {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif !important;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group {
    display: flex;
    gap: 5px;
}

.input-group input {
    flex: 1;
}

.input-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    font-size: 1rem;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: var(--primary-color-hover);
}

button.secondary {
    background-color: var(--secondary-color);
}
button.secondary-outline {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

button.secondary-outline:hover {
    background-color: var(--secondary-color);
    color: white;
}
button.secondary:hover {
    background-color: var(--secondary-color-hover);
}

#status {
    color: var(--primary-color);
    font-weight: bold;
    height: 20px;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
}

#save {
    height: 35px;
}

#history {
    height: 35px;
    margin: 32px auto 16px auto;
    width: 75%;
}
