:root {
    --background-color: #2e315c;
    --background-color-light: #9196e6;
    --primary-color: #5dc162;
    --primary-color-hover: #69c66e;
    --secondary-color: #d58438;
    --secondary-color-hover: rgb(194, 144, 36);
}

body {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 100% !important;
    padding: 16px;
    margin: 0;
    background-color: var(--background-color);
    width: 100vw;
    color: #dfdaf9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Baloo Chettan 2", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

input,
select {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif !important;
    background-color: var(--background-color-light);
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: #333;
}
